/*jumpstart is a tutorial landing page for a ficitonal
crowdsourcing site. jumpstart is based on specifications
provided by codecademy.*/

/*-----------------*/
/*universal styling*/
/*-----------------*/
html {
  font-size:14px;
  font-family:"Open Sans", sans-serif;
}

.image-container {
  width:100%;
  height:auto;
  overflow:hidden;

}

.image-container img {
  width:100%;
  height:auto;
  display:block;
  opacity:0.5;
  transition: opacity 500ms ease-in 70ms,
            transform 500ms ease-in 70ms;
}

.image-container img:hover {
  opacity:1;
  transform:scale(1.3);
}

h2 {
  font-size:1.7rem;
  font-weight:bold;
}

h3 {
  font-size:1.3rem;
  font-weight:bold;
}

/*--------------*/
/*header styling*/
/*--------------*/
header ul {
  float:left;
  margin:auto 0;
}

header .container {
  margin-left:0;
  margin-right:0;
}

header .navbar-brand {
  float:right;
}

header li {
  padding-right:2rem;
  font-weight:bold;
  font-size:1.1rem;
}

header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>.active>a:focus, header .navbar-default .navbar-nav>.active>a:hover {
  background-color:#f8f8f8;
  color:#399bd1;
}

.navbar-nav li {
   line-height:50px;
}

/*----------------------------*/
/*jump-off styling (jumbotron)*/
/*----------------------------*/
.jumbotron-bike {
  background-image:url("../images/jumbotron-bike.jpg");
  background-size:cover;
  text-align:center;
}

.jumbotron-beer {
  background-image:url("../images/jumbotron-beer.jpg");
  background-size:cover;
  text-align:center;
}

.jumbotron-flowers {
  background-image:url("../images/jumbotron-flowers.jpg");
  background-size:cover;
  text-align:center;
}

.jumbotron-duffel {
  background-image:url("../images/jumbotron-duffel.jpg");
  background-size:cover;
  text-align:center;
}

.jump-off .jumbotron-bike h1,
.jump-off .jumbotron-beer h1,
.jump-off .jumbotron-flowers h1,
.jump-off .jumbotron-duffel h1 {
  margin-top:11.85rem;
  font-family:Monoton, sans-serif;
  color:#f4f4f4;
  font-size:7.1rem;
  text-shadow:-1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000,
              -3px 2px 5px #131313;
}

.jump-off p {
  width:53.3rem;
  margin-left:auto;
  margin-right:auto;
  font-family:"Open Sans", sans-serif;
  color:#f4f4f4;
  text-shadow:-1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000,
              -3px 2px 5px #131313;
}

.jump-off .btn {
  background-color:#399bd1;
  box-shadow:0 0 3px rgba(0,0,0,0.5);
  margin-top:2.8rem;
  width:11.4rem;
  padding:1.3rem 0;
  margin-bottom:11.85rem;
}

.jump-off .btn:hover {
  box-shadow:0 0 12px rgba(0,0,0,0.9);
}

.jump-off .btn:active {
  box-shadow:0 0 3px rgba(0,0,0,0.5);
}

/*---------------------------*/
/*mobile styling for jump off*/
/*---------------------------*/
@media only screen and (max-width:568px) {
  .jump-off h1 {
    font-size:5.7rem;
  }
}

/*------------------------*/
/*featured product styling*/
/*------------------------*/
.featured-project .container-fluid {
  padding-left:0;
  padding-right:0;
}

.featured-project h2 {
  color:#399bd1;
  margin-bottom:20px;
}

.featured-project h3 {
  margin-top:0;
}

.product-categories h3 {
  color:#399bd1;
}

.product-categories p {
  line-height:1.4;
  font-size:1.2rem;
  color:rgba(0,0,0,0.7);
  margin:0;
}

/*---------------*/
/*project styling*/
/*---------------*/
.projects .container-fluid {
  padding-left:0;
  padding-right:0;

  padding-bottom:5.85rem;
}
.projects h2 {
  color:#399bd1;
}

/*having trouble styling*/
.having-trouble {
  background-color:#f3f3f3;
  padding-top:5.2rem;
  padding-bottom:5.2rem;
  text-align:center;
}

.having-trouble h1 {
  font-size:2.5rem;
  font-weight:bold;
}

.having-trouble p {
  width:42rem;
  margin-top:1.4rem;
  margin-left:auto;
  margin-right:auto;
}

.having-trouble .btn {
  background-color:#399bd1;
  box-shadow:0 0 2px rgba(0,0,0,0.5);
}

.having-trouble .btn:hover {
  box-shadow:0 0 12px rgba(0,0,0,0.9);
}

.having-trouble .btn:active {
  box-shadow:0 0 3px rgba(0,0,0,0.5);
}
